@import @/styles/base
.button
    border: none
    outline: none
    font-size: 25rem
    width: 100%
    background-color: $headerBg
    color: #fff
    padding: 10rem
    border-radius: 5rem
    transition: all .5s ease
    cursor: pointer
    &:hover
        border-radius: 20rem
        background-color: #e39c51e6