.page
    height: 100%
.container
    display: flex
    align-items: stretch
    gap: 10rem
    height: 100%
    & > div
        padding-top: 25rem
.left
    border-right: 1rem solid gray
    padding-right: 10rem
