@import base
*
  margin: 0
  padding: 0
html
  font-size: 1px
body
  font-size: 16rem
  display: flex
  flex-direction: column
  height: 100vh
header
  flex: 0 1 auto
main
  flex: 1 0 auto
.container
  max-width: $containerWidth
  margin-left: auto
  margin-right: auto