@import @/styles/base
.body
  display: flex
  flex-direction: column
  height: 100vh
.header
  flex: 0 1 auto
  & > div
    max-width: $containerWidth
    margin-left: auto
    margin-right: auto
    padding-right: $containerPadding
    padding-left: $containerPadding
.main
  flex: 1 0 auto
  & > section > div
    max-width: $containerWidth
    margin-left: auto
    margin-right: auto
    padding-right: $containerPadding
    padding-left: $containerPadding