@import "@/styles/base.sass"
.header
    width: 100%
    background-color: $headerBg
    .container
        padding-top: 10rem
        padding-bottom: 10rem
        display: flex
        align-items: center
        justify-content: space-between