@import @/styles/base
.sidebar
    position: fixed
    top: 64rem
    min-width: 250rem
    height: 100%
    background-color: $sidebarBg
    z-index: 1
.left
    left: -100%
    transition: left .5s linear
    border-right: 1rem solid $sidebarBg
.right
    right: -100%
    transition: right .5s linear
    border-left: 1rem solid $sidebarBg
.isOpen
    &.right
        right: 0
    &.left
        left: 0