.input
    background-color: transparent
    border: none
    outline: none
    font-size: inherit
.label
    padding: 10rem
    transition: border .5s ease
    background-color: #EEEEEE
    border: 1rem solid transparent
    display: flex
    align-items: center
    gap: 10rem
    font-size: 25rem
.focus
    border: 1rem solid #000